name: Create icons

permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths:
      - 'apps/**'
  schedule:
    - cron: '30 0/6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup
        run: |
          sudo apt install libplist-utils
          mkdir -p ~/.config/ImageMagick
          curl -fsSL https://imagemagick.org/source/policy-websafe.xml -o ~/.config/ImageMagick/policy.xml
          curl -fsSL https://imagemagick.org/archive/binaries/magick -o ./magick
          chmod +x ./magick
          sudo add-apt-repository universe
          sudo apt install libfuse2t64

      - name: Look for apps with no icon
        run: |
          iconsStr=$(ls -1 ./icons/*.png)
          appsStr=$(ls -1 ./apps/*.json)
          readarray -td '' icons < <(awk '{ gsub(/\n/,"\0"); print; }' <<<"$iconsStr\n")
          unset 'icons[-1]'
          declare -p icons
          readarray -td '' apps < <(awk '{ gsub(/\n/,"\0"); print; }' <<<"$appsStr\n")
          unset 'apps[-1]'
          declare -p apps
          comm -23  \
          <(printf '%s\n' "${apps[@]}" | sort) \
          <(printf '%s\n' "${icons[@]}" | sort)
          
      - name: Attempt to get app.zip file
        run: |
          for i in 1 2 3 4 5; do curl -fsSL https://github.com/${{github.repository}}/releases/download/com.example.app2/app.zip -o com.example.app2.zip && break || sleep 15; done
          rm -rf ./com.example.app2.zip
          
      - name: Resize icons
        run: |          
          ./magick mogrify -resize 86x86 ./icons/*.png
          rm -rf ./magick

      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add *
          git commit -am "Resize icons"
          git push
